{% extends "../_layout.tmpl" %}

{% block content %}
    <div class="columns">
        <div class="column is-half is-offset-quarter">
            <form method="POST" action="/account/change_password">
                <div class="control">
                    <input name="currentPassword" class="input" type="password" placeholder="Current password">
                </div>
                <div class="control">
                    <input name="newPassword" class="input" type="password" placeholder="New password">
                </div>
                <div class="control">
                    <input name="confirmPassword" class="input" type="password" placeholder="Current password">
                </div>
                <div class="control">
                    <input class="button is-success" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

