# Log files
logs/

# Compiled binaries
application
worker

# Development configurations
conf/app.ini

# Go GOPATH stuff
pkg
bin

# bindata stuff
src/qixalite.com/Ranndom/ldap-portal/views/*.go
src/qixalite.com/Ranndom/ldap-portal/public/*.go

