{% if Flash.SuccessMsg %}
    <div class="notification is-success">
        <button class="delete flash-delete"></button>
        {{ Flash.SuccessMsg }}
    </div>
{% endif %}

{% if Flash.ErrorMsg %}
    <div class="notification is-danger">
        <button class="delete flash-delete"></button>
        {{ Flash.ErrorMsg }}
    </div>
{% endif %}

