<section class="hero is-info is-left is-bold">
    <div class="hero-header">
        <header class="header has-shadow">
            <div class="container">
                {% include "_navigation.tmpl" %}
            </div>
        </header>
    </div>
    <div class="hero-content">
        <div class="container">
            <p class="title">Account management</p>
            <p class="subtitle">Manage your Qixalite staff account</p>
        </div>
    </div>
</section>

