<div class="header-left">
    <a class="header-item" href="/">
        <img src="/assets/qixalite-white.png" />
    </a>
</div>

<span class="header-toggle">
    <span></span>
    <span></span>
    <span></span>
</span>

<div class="header-right">
    <p class="header-item">
        <a class="link" href="/">Home</a>
    </p>

    {% if Session.Get("LoggedUser") != nil %}
        <p class="header-item">
            <a class="link" href="/account/details">My account</a>
        </p>

        <p class="header-item">
            <a class="link" href="/auth/logout">Logout</a>
        </p>
    {% else %}
        <p class="header-item">
            <a class="link" href="/auth/login">Login</a>
        </p>
    {% endif %}
</div>

