{% extends "_layout.tmpl" %}

{% block content %}
    <p>
        Welcome to the Qixalite Staff portal. Here you can manage your Qixalite staff account, change your password and view upcoming maintenance events. 
    </p>
{% endblock %}

