{% extends "_layout.tmpl" %}

{% block content %}
    <p>
        Welcome to the Qixalite Staff portal. Here you can manage your Qixalite staff account, change your password and view upcoming maintenance events. 
    </p>

    <section class="section">
        <h1 class="title is-4">Upcoming maintenance</h1>
        <p>Upcoming maintenance events will be displayed here.</p>
    </section>
{% endblock %}

