{% extends "../_notification_layout.tmpl" %}

{% block content %}
    <div class="box">
        {% include "notification_list.tmpl" with notify=notifications show_links=true message="No recent activity" %}
    </div>
{% endblock %}

