{% extends "../_account_layout.tmpl" %}

{% block content %}
    <div class="columns">
        <div class="column is-half is-offset-quarter">
            <nav class="menu">
                <p class="menu-heading">
                    Keys
                    <span class="is-pulled-right">
                        <a href="/account/ssh_keys/new" class="button is-small is-primary is-outlined">New key</a>
                    </span>
                </p>

                {% for ssh_key in sshKeys %}
                    <div class="menu-block">
                        <span class="menu-icon">
                            <i class="fa fa-key"></i>
                        </span>
                        {{ ssh_key.KeyName }}
                        <div class="is-pulled-right">
                            <span>
                                <a href="/account/ssh_keys/{{ ssh_key.ID }}/edit"><i class="fa fa-pencil"></i></a>
                            </span>
                            <span class="is-pulled-right" style="padding-left: 10px;">
                                <form name="delete_key_{{ ssh_key.ID }}" method="POST" action="/account/ssh_keys/{{ ssh_key.ID }}/delete">
                                    <a href="#" onclick="document.forms['delete_key_{{ ssh_key.ID }}'].submit();"><i class="fa fa-trash"></i></a>
                                    <noscript>
                                        <input type="submit" value="Delete" />
                                    </noscript>
                                </form>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </nav>
        </div>
    </div>
{% endblock %}

