{{set . "title" "Change password"}}
{{template "header.html" .}}

<div class="columns">
    <div class="column is-half is-offset-quarter">
        <form method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
            <div class="control">
                <input name="currentPassword" class="input" type="password" placeholder="Current password">
            </div>

            <div class="control">
                <input name="newPassword" class="input" type="password" placeholder="New password">
            </div>

            <div class="control">
                <input name="confirmPassword" class="input" type="password" placeholder="Confirm password">
            </div>

            <div class="control">
                <input class="button is-success" type="submit" value="Update">
            </div>
        </form>
    </div>
</div>

{{template "footer.html" .}}
