<style type="text/css">
	#sidebar {
		position: absolute;
		right: 0px;
		top:69px;
		max-width: 75%;
		z-index: 1000;
		background-color: #fee;
		border: thin solid grey;
		padding: 10px;
	}
	#toggleSidebar {
		position: absolute;
		right: 0px;
		bottom: 50px;
		/*background-color: #fee;*/
	}

</style>
<div id="sidebar" style="display:none;">
	<h1 class="title">Available pipelines</h1>
	<dl>
	{{ range $index, $value := .}}
		<dt>{{$index}}</dt>
		<dd>{{$value}}</dd>
	{{end}}
	</dl>
	<h4 class="title">Flash</h4>
	<dl>
	{{ range $index, $value := .flash}}
		<dt>{{$index}}</dt>
		<dd>{{$value}}</dd>
	{{end}}
	</dl>

	<h4 class="title">Errors</h4>
	<dl>
	{{ range $index, $value := .errors}}
		<dt>{{$index}}</dt>
		<dd>{{$value}}</dd>
	{{end}}
	</dl>
</div>
<a id="toggleSidebar" href="#"><i class="fa fa-envelope"></i></a>

<script src="/public/js/debug.js" type="text/javascript"></script>

