<div class="header-left">
    <a class="header-item" href="/">
        <img src="http://jamierocks.github.io/qixlanding/assets/img/qixalite-white.png" />
    </a>
</div>

<span class="header-toggle">
    <span></span>
    <span></span>
    <span></span>
</span>

<div class="header-right">
    <p class="header-item">
        <a class="link" href="/">Home</a>
    </p>
</div>

